/*
HTML 5 Template Name: Basic 90
File: Layout CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{
	margin:0; 
	padding:0; 
	font-size:13px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-weight:bold;
}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:bold; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}


th{
	padding: 10px;
}
td{
	padding: 10px;
	
}
tr{
	vertical-align: text-top;
	background-color: rgba(244, 244, 244, 0.5);
}
label{
	padding:10px;
	color: white;
}
input{
	padding:5px;
}

h1{
	color: green;
	margin: 30px;}
h2{
	color:white;
	margin: 15px;
}
h3{
	color: black;
	margin: 10px;
}

	


#master_tblr{
	padding: 10px;
	border-spacing: 10px;
    border-collapse: separate;
}

#maincontent{
	visibility:hidden;
	align-content: center;
	width: 800px;
	margin: auto;}
	
	
#login{
	margin: auto;
    width: 50%;
	text-align: center;
    border: 3px solid white;
    padding: 10px;
	color: white;
	font-size: 20px;
}
	
	
	
	
	
#logout{
	background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 20px;
	font-weight: bold;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #ccc;
    border-top: none;
}